<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.checkMapper">

<!--    *改-->
    <insert id=" addcheck" parameterType="java.util.Map" useGeneratedKeys="false">
        insert into drugscheck
        (ckdate,ckoperator,dno,dpnumber)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{date},
            #{item.ckoperator},
            #{item.dno},
            #{item.dpnumber}
            )
        </foreach>
    </insert>
    <update id ="updateCkanddrug" parameterType="drugsCheck">
        update drugscheck set dpnumber=#{dpnumber} where dno = #{dno} and ckno= #{ckno};
        update drugs  set dnumber  = #{dpnumber} where dno = #{dno};
    </update>
<select id="selectCr" parameterType="drugsCheck" resultType="java.util.Map">
    select ckno,ckdate,ckoperator,dpnumber,drugs.dno,dname,dclassify,dnumber,dunit,dprice from drugs,drugscheck
    where drugs.dno = drugscheck.dno and  ckdate  = #{ckdate} and ckno = #{ckno};
</select>
<!--    <select id="selectCrofdrug" parameterType="drugsCheck">-->
<!--    select ckno,ckdate,ckoperator,dpnumber,drugs.dno,dname,dclassify,dnumber,dunit,dprice from drugs,drugscheck-->
<!--    where drugs.dno = drugscheck.dno and  ckdate  = #{ckdate} and ckno = #{ckno} and wid = (select wid from ware where wname = #{wname});-->
<!--</select>-->
<delete id="deleteCk" parameterType="drugscheck">
        delete from drugscheck where dno = #{dno} and ckno = #{ckno} ;
</delete>
<select id="newCr" parameterType="drugs" resultType="drugs">
    select dno,dname,dclassify,dnumber,dunit,dprice from drugs where wid = (select wid from ware where wname = #{wname})
</select>
</mapper>