<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.DrugsMapper">
    <insert id ="insertdrug" parameterType = "drugs" useGeneratedKeys="true" keyProperty="dno">
        insert into drugs(dno,dname,dclassify,dnumber,dunit,dprice,jdtime,prodata,duedata) values(#{dno},#{dname},#{dclassify},#{dnumber},#{dunit},#{dprice},#{jdtime},#{prodata},#{duedata});
    </insert>
    <select id="selectAll" resultType="drugs">
        select *from drugs;
    </select>
    <select id="selectdrug" parameterType="drugs" resultType="drugs">
        select dno,dname from drugs where dname = ${dname};
    </select>
    <delete id="deletedrug" parameterType="drugs" ="true" keyProperty="dno">
        delete from drugs where dno = ${dno};
    </delete>
    <update id="updatedrug" parameterType="drugs">
        update drugs set dname = #{dname},dclassify = #{dclassify},dnumber = #{dnumber},dprice = #{dprice},dunit = #{dunit},
         jdtime = #{jdtime},prodata = #{prodata},duedata = #{duedata} where dno = ${dno};
    </update>
</mapper>