<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.enteRecord">
<select id="selectEr" resultType="java.util.Map" parameterType="put">
    select drugs.dno,dname,dunit,idnumber,dclassify,idtime,idtype,iremark,doperator
     from inware,drugs where inware.dno = drugs.dno and drugs.dno = #{dno} and idtime = #{idtime};
</select>
<select id="selectAll" resultType="java.util.Map">
    select inware.*,drugs.dno,dname,dunit
    from inware,drugs where inware.dno = drugs.dno order by pno;
</select>
<insert id="addERecord"  parameterType="java.util.Map">
insert into inware(pno,idnumber,idtime,idtype,iremark,doperator,dno)
values(#{pno},#{idnumber},#{idtime},#{idtype},#{iremark},#{doperator},#{dno});
</insert>
<insert id="addInsum" parameterType="java.util.Map">
    insert into indanhao(pno,jiaohuoren,yanshouren,jizhangren) values(#{pno},#{jiaohuoren},#{yanshouren},#{jizhangren});
</insert>
<!--   添加入库记录后，更新药品信息-->
<update id="updateDrug" parameterType="java.util.Map">
    update drugs set dnumber = dnumber+#{idnumber} where drugs.dno = #{dno};
</update>
    <delete id="deleteEr" parameterType="put">
        delete from inware where id = #{id};
    </delete>
<!--    更改入库记录-->
<update id="updateER" parameterType="java.util.Map">
    update inware set idnumber=#{idnumber},idtype=#{idtype},iremark=#{iremark},doperator=#{doperator} where id = #{id};
</update>
    <select id="selectAllsum" resultType="java.util.Map">
        select * from indanhao;
    </select>
</mapper>