<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mapper.LoginLogMapper">

    <resultMap type="com.example.test.pojo.LoginLog" id="LoginLogMap">
        <result property="loginLogId" column="login_log_id" jdbcType="INTEGER"/>
        <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
        <result property="loginTime" column="login_time" jdbcType="VARCHAR"/>
        <result property="logLevel" column="log_level" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="message" column="message" jdbcType="VARCHAR"/>
    </resultMap>

<!--    只查询标志位为0（即存在的日志记录）-->
    <select id="findAll" resultMap="LoginLogMap">
        select * from login_log where delete_flag = '0'
    </select>

<!--    删除只是将标志位改为1-->
    <update id="deleteById" parameterType="String">
        update login_log set delete_flag = '1' where login_log_id = #{loginLogId}
    </update>


</mapper>