<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.userMapper">
    <select id="checkuser" resultType="user">
        select username,password from user where username = #{param1} and password = #{param2};
    </select>
    <insert id="addUser" parameterType="user">
        insert into user(addr,brthday,email,invite_code,password,phone_number,rname,sex,username)
        values(#{addr},#{brthday},#{email},#{invite_code},#{password},#{phone_number},#{rname},#{sex},#{username});
    </insert>
    <update id="updateUser" parameterType="user">
        update users set username = #{username },password = #{password},
        email = #{email},phone_number = #{phone_number},rname = #{rname},sex = #{sex},addr = #{addr},brthday  = #{brthday}
        where id  = #{id};
    </update>

    <select id="selectUserByusername" resultType="user">
        select * from user where username = #{username};
    </select>
    <select id="selectUserByUid" resultType="user">
        select * from user where id= #{uid};
    </select>

    <select id="selectAllUser" resultType="java.util.Map">
        select * from user;
    </select>
</mapper>